.contain {
	background-color: white;
	padding: 10px;
	height: 100px;
}

.content {
	animation: move 4s linear;
	font-size: 24px;
	font-family: Kameron;
}

@keyframes move {
	0% {
		opacity: 0.1;
		transform: translateY(0);
	}

	50% {
		opacity: 0.5;
		transform: translateY(200px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}