.left-col {
	background-color: tomato;
}

.middle-col {
	background-color: white;
}

.right-col {
	background-color: blue;
}

:local(.labelName) {
	font-family: Kameron;
	font-size: 24px;
	text-align: center;
	color: blue;

}