
/* add a circle border around the gear */
img {
	/* border-radius defines the radius of the element corners */
	/* position: absolute;
	left: 50%;
	top: 0%; */
	backface-visibility: hidden;
	border-radius: 50%; /* add rounded border to div */
	background-color: white;
	transition: transform 0.9s ease-in-out;

}

img:hover {
	transform: rotate(270deg);
}

.right {
	position: relative;
	left: 10%;
	top: 10%;
}

/*

/* on hover, rotate image 
.right > img:hover {
    transform: rotate(270deg);
}

.left > img:hover {
	transform: rotate(-270deg);
}

.gearSVG {
	width: 40%;
}


*/
