img {
	/* border-radius defines the radius of the element corners */
	border-radius: 50%;
	transition: transform 0.9s ease-in-out;
}

/* on hover, rotate image */
.right > img:hover {
    transform: rotate(270deg);
}

.left > img:hover {
	transform: rotate(-270deg);
}

.gearSVG {
	width: 80%;
	height: auto;
	background-color: orange;
}



