img {
	border-radius: 50%;
	-webkit-transition: -webkit-transform 0.9s ease-in-out;
	transition: transform 0.9s ease-in-out;
}

img:hover {
	-webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.gearSVG {
	width: 7.5%;
	height:auto;
}



