.menu {
	margin-bottom: 20px;
}

/* spacing between menu items in <table> */
.menu-items {
	border-spacing: 0px 30px;
}

/* polygon shape for menu items */
.menu-tab {
	width: 30vw;
	height: 30vh;
	background-color: tomato; /*background-color: #54a0ff; sunflower blue*/
	clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 65%);
}

/* position gear component inside polygon */
.gear-location {
	position: relative;
	left: 8%;
	bottom: 2%;
}

/* position text elements in relation to parent <div> */
.text-box {
	position: absolute;
    top: 26%; 
	left: 32%;
	color: white;
	font-size: 28px;
	font-family: 'Kameron';
	letter-spacing: 4px;
}
