.menu {
	margin-top: 20px;
	margin-bottom: 10px;
}

.menu-tab {
	width: 33vw;
	height: 25vh;
	background-color: tomato;
	clip-path: polygon(0 25%, 100% 0%, 100% 100%, 0% 65%);
	/*background-color: #54a0ff; sunflower blue*/
}

/*
.text-box {
	position: relative;
    top: -10%; // in relation to parent element
	left: 60%;
	font-size: 24px;
    /*transform: translate(-50%, -60%); /* in relation to element itself
}
*/